h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border: 2px solid black;
    padding: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

input{
    padding: 10px;
    width: 300px;
}